/* Import Google Fonts Lato 400 & 700 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Basic styles */
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;

    /* Overflow property determines what to do if content overflows an element's box. Setting overflow to hidden will hide/clip the overflowing content. */
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    /* can also use list-style: none; */
}

.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light {
    background-color: #e6e6e6;
    color: #2b2b3e;
}

.dark {
    background-color: #2b2b3e;
    color: #e6e6e6;
}

/* Header */
header {
    background-color: #1d1d22;
    color: #e6e6e6;
    /* setting min-height for the header section can expand if needed */
    min-height: 70px;
    border-bottom: 3px solid #000000;
    padding: 5px 0;
}

header > .container {
    display: flex;
    justify-content: space-between;
}

header ul {
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
    padding: 0 20px;
}

header a {
    color: #e6e6e6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#highlight, #current a {
    color: #eb4442;
    font-weight: 700;
    /* also font-weight: bold; */
}

#current a:hover, a:hover {
    color: #ccc;
    font-weight: 700;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background-image: url("images/bgpic.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    filter: brightness (10%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
     rgba(0, 0, 0, 0.7)), url("images/bgpic.jpg");
    
}

#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

/* Boxes */
#boxes {
    margin-top: 20px;
}

#boxes > .container {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 30%;
    text-align: center;
    padding: 10px;
}

i {
    font-size: 75px;
}

.fa-html5 {
    color:#d45632;
}

.fa-css3-alt {
    color: #2d50bc;
}

.fa-square-js {
    color: #dec509;
}

.fa-bootstrap {
    color: #66419c;
}



/* About */
#about {
    background-color: #1d1d22;
    padding: 20px;
}

#about > .container {
    display: grid;
}

#about .main-col {
    color: #fff;
}

#examples  {
    font-size: 1.2em;
    padding: 1em;
    margin: 30px 50px;
    background-color: lightgrey;
}

/* Features */
.card {
    padding: 25px;
    margin: 30px;
}

.card > img{
    width: 100%;
    height: 25vw;
    object-fit: cover;
}


.resume {
font-size: 1.2em;
padding: 3em;
margin: 30px;
background-color: lightgrey;
}

/* Socials */
.socials {
    display: inline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}

.socials li {
    display: inline;
    list-style-type: none;
    margin: 30px;
    text-decoration: none;
    list-style: none;
}

.socials a{
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    }

.fa-file, .fa-envelope, .fa-twitter, .fa-github {
    font-size: 2em;
    color: rgb(185, 184, 184);
}

.fa-file:hover, .fa-envelope:hover, .fa-twitter:hover,  .fa-github:hover{
    color: black;
}

/* Footer */
footer {
    background-color: #1d1d22;
    color:#e6e6e6; 
    padding: 15px;
    text-align: center;
    margin-top: 25px;
}

/* Media Queries */
@media (max-width: 768px) {
    header > .container,
    #newsletter > .container,
    #boxes > .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}